/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

/* Selection section styles */
.selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Select styles */
select, input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    flex: 1;
    margin-right: 10px;
}

/* Snacks container styles */
#snacks-container {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

#snacks-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Daily specials section styles */
#daily-specials {
    background-color: #ffd700; /* Gold color */
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 5px;
}

/* User reviews section styles */
#user-reviews {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 5px;
}

/* "Go to Reviews" button styles */
#go-to-reviews {
    background-color: #007bff; /* Blue color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#go-to-reviews:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Instagram icon styles */
.footer-content img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}
